/*Element Selector*/
body{
	background: orange;
}
li{
	border: 2px solid red;
}
div{
	background: purple;
}
p{
	color: yellow;
}
/*ID Selector*/
#special{
	color: green;
}
#special2{
	background: yellow
}
/*Class Selector*/
.highlight{
	background: rgb(0,0,0);
}